#calculator {
    width: 500px;
    height: 850px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: gray;
}

#display {
    width: 480px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 80px;
    text-align: right;
    background-color: white;
}

#buttons {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex: 1;
    gap: 10px;
}

button {
    flex: 1;
    border-width: 2px;
    border-radius: 16px; 
    font-size: 32px;
}