#calculator {
    width: 500px;
    height: 700px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#display {
    width: 480px;
    height: 100px;
    border: 2px solid black;
}

#buttons {
    width: 480px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex: 1;
    gap: 10px;

}

button {
    flex: 1;
    border-width: 2px;
    border-radius: 16px; 
}